body {
    background-color:#edf2f2;
}
hr{ 

    background-color: #edf2f2;
    border-style: dotted none none ;
    /* border-top-style: dotted ; */
    border-color: grey;
    border-width: 10px;
    height: 2px;
    /* width: 10px; */
    width: 10%;
}
img {
    height :200px ;
}

.circular{
   border-radius: 100%;
}

h1 {
    color: #3BACB6;
}
h3 {
    color: #3BACB6;
}